body{
    background:black;
}
.post{
    width:450px;
    margin: 0 auto;
    background: white;
    font-family: Roboto;
}
i{
    font-size: 30px;
}
img{
    width: 100%;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.text{
    display:flex;
    align-items: flex-start;
    gap: 5px;
}
.text1{
    padding-top: 5px;
    padding-left: 5px;
}
.text2{
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.icon{
    padding-top: 5px;
    padding-left: 5px;
}
.icon2{
    padding-right: 10px;
    padding-top: 5px;
}
.footer{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 5px;
}


